:root {
  --bg-body: #41485a;
  --bg: #aec1dd;
  --fg: #26292e;
  --sans: 'Montserrat', sans-serif;
  --pic-h: 250px;
  --link-transition-dur: 200ms;
  --link-transition-off: 200ms;
  font-size: 24px;
  font-family: var(--sans);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--title);
  font-weight: 700;
}

h4,
h5 {
  font-family: var(--body);
  font-weight: 700;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:active {
  color: var(--fg);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  color: var(--fg);
  line-height: 1;
  height: 100vh;
  display: flex;
  place-items: center;
  background: radial-gradient(ellipse at top right, var(--bg-body), transparent),
    radial-gradient(ellipse at bottom left, var(--bg-body), transparent),
    radial-gradient(ellipse at bottom right, var(--bg), transparent),
    radial-gradient(ellipse at top left, var(--bg), transparent), #fff;
  perspective: 1000px;
}

#profile {
  margin: 0 auto;
  max-width: 90%;
  /* transform: rotate3d(1, 0, 0, 15deg); */
  transform-style: preserve-3d;
}

#card {
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 0px inset,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  translate: 0 0 1rem;
  transform-style: preserve-3d;
}

#card-wrapper {
  position: relative;
  transform-style: preserve-3d;
}

#card-wrapper::before,
#card-wrapper::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #00000080;
}

#card-wrapper::before {
  filter: blur(1rem);
}

#card-wrapper::after {
  filter: blur(0.25rem);
}

#card,
#card-wrapper::before,
#card-wrapper::after {
  border-radius: 10rem 2rem 2rem 10rem;
}

#photo {
  width: var(--pic-h);
  border-radius: var(--pic-h);
  background: linear-gradient(320deg, #525a70, #828fb1) border-box;
  border: 4px solid transparent;
  translate: 0 0 1rem;
}

#detail {
  text-align: right;
}

#name {
  display: block;
  font-weight: 700;
  font-size: 3rem;
}

#lastName {
  display: block;
  font-weight: 600;
  font-size: 1.3rem;
  margin-block-end: 1rem;
}

#summary {
  align-self: flex-end;
}

#links {
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  transform-style: preserve-3d;
}

.link {
  border-radius: 30px;
  padding: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.5) 0px 1px 0px inset,
    rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  height: 56px;
  width: 56px;
  overflow: hidden;
  transition: all var(--link-transition-dur) var(--link-transition-off);
}

.link:hover {
  transition: all var(--link-transition-dur);
  translate: 0 0 36px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 4px 1px,
    rgba(0, 0, 0, 0.05) 0px 10px 8px 2px, rgba(0, 0, 0, 0.05) 0px 14px 12px 4px,
    rgba(255, 255, 255, 0.5) 0px 1px 0px inset,
    rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}

#mail:hover {
  width: 138px;
}

#linkedin:hover {
  width: 162px;
}

#github:hover {
  width: 144px;
}

#stackblitz:hover {
  width: 184px;
}

#replit:hover {
  width: 137px;
}

.link-icon {
  flex-shrink: 0;
}

.link-text {
  white-space: nowrap;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.25rem;
  color: transparent;
  transition: color var(--link-transition-dur) var(--link-transition-off);
}

.link:hover .link-text {
  transition: color var(--link-transition-dur);
  color: var(--fg);
}
