:root {
  --bg-body: #45474b;
  --bg: #d6d1c8;
  --fg: #1a1a1a;
  --fg-light: #6b7077;
  --bgi: #616879;
  --serif: 'Playfair Display', serif;
  --sans: 'Montserrat', sans-serif;
  --pic-h: 250px;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--title);
  font-weight: 700;
}

h4,
h5 {
  font-family: var(--body);
  font-weight: 700;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:active {
  color: var(--fg);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--serif);
  color: var(--fg);
  line-height: 1;
  background-color: var(--bg-body);
  height: 100vh;
  display: flex;
  place-items: center;
}

#profile {
  margin: 0 auto;
  max-width: 90%;
}

#card {
  background-color: var(--bg);
  border-radius: 30px;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
}

#photo {
  width: var(--pic-h);
  border-radius: var(--pic-h);
  border: 10px solid var(--fg-light);
}

#detail {
  text-align: right;
}

#name {
  display: block;
  font-family: var(--sans);
  font-weight: 700;
  font-size: 5rem;
}
#lastName {
  display: block;
  font-family: var(--sans);
  font-weight: 600;
  font-size: 2rem;
  margin-block-end: 2rem;
}

#links {
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact {
  background-color: var(--bg);
  border-radius: 30px;
  padding: 0.5rem;
  font-family: var(--sans);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
