:root {
  --primary: #ebddac;
  --bg: #ffffff;
  --fg: #394257;
  --bgi: #616879;
  --fgi: #ffffff;
  --title: 'Playfair Display', serif;
  --body: 'Montserrat', sans-serif;
  --col: 20rem;
  --pic-h: 160px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title);
  font-weight: 700;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:active {
  color: var(--fgi);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: var(--body);
  color: var(--fg);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg);
}

@media (min-width: 40em) {
  body {
    display: flex;
    align-items: stretch;
  }
}

#profile {
  display: flex;
  flex-direction: column;
  padding: 4rem max(2rem, calc(56vw - var(--col) / 2)) 2rem;
  background: radial-gradient(ellipse at top right, #41485a, transparent),
    radial-gradient(ellipse at bottom left, #41485a, transparent),
    radial-gradient(ellipse at bottom right, #9eaccf, transparent),
    radial-gradient(ellipse at top left, #9eaccf, transparent), var(--bgi);
}

@media (min-width: 40em) {
  #profile {
    width: var(--col);
    padding: 4rem 2rem 8rem;
  }
}

#details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#photo {
  width: var(--pic-h);
  border-radius: var(--pic-h);
  align-self: center;
  margin-block-end: 2.5rem;
}

#name {
  color: var(--primary);
  font-family: var(--title);
  font-size: 2rem;
  letter-spacing: 0.07rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-block-end: 2.5rem;
}

#role {
  color: var(--fgi);
  font-family: var(--body);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-block-end: 0.25rem;
}

#location {
  color: var(--fgi);
  font-family: var(--body);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-block-end: 2.5rem;
}

#location svg {
  margin-inline-end: 0.25rem;
}

#summary h3,
#contact h3 {
  color: var(--primary);
  text-transform: uppercase;
  margin-block-end: 0.5rem;
}

#summary p {
  color: var(--fgi);
  font-size: 0.8rem;
}

#contact {
  margin-block-end: 2.5rem;
  color: var(--fgi);
}

#contact a {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-block-end: 0.15rem;
}

#experience,
#education,
#skills {
  padding-inline: 2rem;
}

#experience h3,
#education h3,
#skills h3 {
  font-size: 1.5rem;
  margin-block-end: 0.5em;
}

#experience h4,
#education h4,
#skills h4 {
  font-family: var(--body);
  font-weight: 700;
  margin-block-end: 0.5em;
}

#experience {
  padding-block-start: 4rem;
}

#experience-company,
#experience-start,
#experience-end {
  font-weight: 600;
}

#experience-start::before {
  content: ' | ';
}

#experience-start::after {
  content: ' - ';
}

#experience-stack {
  list-style: none;
  font-style: italic;
  margin-block-start: 0.5em;
}

#experience-stack li {
  display: inline;
}

#experience-stack li:nth-last-child(n + 3)::after {
  content: ',';
}
#experience-stack li:nth-last-child(2)::after {
  content: ' and';
}

#education {
  padding-block-start: 2rem;
  display: flex;
  flex-wrap: wrap;
  order: 1;
}

#education h3 {
  flex: 1 100%;
}

#education-institution {
  flex: 1 100%;
}

#education-details {
  order: 1;
  font-style: italic;
}

#education-degree,
#education-start,
#education-end {
  font-weight: 600;
}

#education-details {
  flex: 1 100%;
}

#education-degree::after {
  content: '|';
  margin-inline: 0.25rem;
}

#education-start::after {
  content: '-';
  margin-inline: 0.25rem;
}

#skills {
  padding-block-start: 2rem;
  padding-block-end: 8rem;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  column-gap: 2rem;
  row-gap: 1rem;
}

#skills h3 {
  flex: 1 100%;
  margin-block-end: calc(0.5em - 1rem);
}

[id^='icon'] {
  fill: var(--fgi);
  height: 14px;
  width: 14px;
}

#location::before,
#tel::before,
#mail::before,
#linkedin::before,
#github::before {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
}

#location::before {
  background-image: url("data:image/svg+xml,<svg height='14' width='14' fill='white' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='M21.7781 46.8C16.8844 40.7813 6 26.1938 6 18C6 8.05875 14.0587 0 24 0C33.9375 0 42 8.05875 42 18C42 26.1938 31.0312 40.7813 26.2219 46.8C25.0687 48.2344 22.9313 48.2344 21.7781 46.8V46.8ZM24 24C27.3094 24 30 21.3094 30 18C30 14.6906 27.3094 12 24 12C20.6906 12 18 14.6906 18 18C18 21.3094 20.6906 24 24 24Z'/></svg>");
}

#tel::before {
  background-image: url("data:image/svg+xml,<svg height='14' width='14' fill='white' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='M34.3622 0H13.4757C11.0047 0 9 2.01562 9 4.5V43.5C9 45.9844 11.0047 48 13.4757 48H34.3622C36.8331 48 38.8378 45.9844 38.8378 43.5V4.5C38.8378 2.01562 36.8331 0 34.3622 0ZM23.9189 45C22.2685 45 20.9351 43.6594 20.9351 42C20.9351 40.3406 22.2685 39 23.9189 39C25.5693 39 26.9027 40.3406 26.9027 42C26.9027 43.6594 25.5693 45 23.9189 45ZM34.3622 34.875C34.3622 35.4937 33.8586 36 33.2432 36H14.5946C13.9792 36 13.4757 35.4937 13.4757 34.875V5.625C13.4757 5.00625 13.9792 4.5 14.5946 4.5H33.2432C33.8586 4.5 34.3622 5.00625 34.3622 5.625V34.875Z'/></svg>");
}

#mail::before {
  background-image: url("data:image/svg+xml,<svg height='14' width='14' fill='white' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='M43.2 5H4.8C2.16 5 0.024 7.1375 0.024 9.75L0 38.25C0 40.8625 2.16 43 4.8 43H43.2C45.84 43 48 40.8625 48 38.25V9.75C48 7.1375 45.84 5 43.2 5ZM43.2 14.5L24 26.375L4.8 14.5V9.75L24 21.625L43.2 9.75V14.5Z'/></svg>");
}

#linkedin::before {
  background-image: url("data:image/svg+xml,<svg height='14' width='14' fill='white' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='M0 3.438C0 1.539 1.578 0 3.525 0H44.475C46.422 0 48 1.539 48 3.438V44.562C48 46.461 46.422 48 44.475 48H3.525C1.578 48 0 46.461 0 44.562V3.438ZM14.829 40.182V18.507H7.626V40.182H14.829ZM11.229 15.546C13.74 15.546 15.303 13.884 15.303 11.802C15.258 9.675 13.743 8.058 11.277 8.058C8.811 8.058 7.2 9.678 7.2 11.802C7.2 13.884 8.763 15.546 11.181 15.546H11.229V15.546ZM25.953 40.182V28.077C25.953 27.429 26.001 26.781 26.193 26.319C26.712 25.026 27.897 23.685 29.889 23.685C32.496 23.685 33.537 25.671 33.537 28.587V40.182H40.74V27.75C40.74 21.09 37.188 17.994 32.448 17.994C28.626 17.994 26.913 20.094 25.953 21.573V21.648H25.905C25.9209 21.623 25.9369 21.598 25.953 21.573V18.507H18.753C18.843 20.541 18.753 40.182 18.753 40.182H25.953Z'/></svg>");
}

#github::before {
  background-image: url("data:image/svg+xml,<svg height='14' width='14' fill='white' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='M24 0C10.74 0 0 10.74 0 24C0 34.62 6.87 43.59 16.41 46.77C17.61 46.98 18.06 46.26 18.06 45.63C18.06 45.06 18.03 43.17 18.03 41.16C12 42.27 10.44 39.69 9.96 38.34C9.69 37.65 8.52 35.52 7.5 34.95C6.66 34.5 5.46 33.39 7.47 33.36C9.36 33.33 10.71 35.1 11.16 35.82C13.32 39.45 16.77 38.43 18.15 37.8C18.36 36.24 18.99 35.19 19.68 34.59C14.34 33.99 8.76 31.92 8.76 22.74C8.76 20.13 9.69 17.97 11.22 16.29C10.98 15.69 10.14 13.23 11.46 9.93C11.46 9.93 13.47 9.3 18.06 12.39C19.98 11.85 22.02 11.58 24.06 11.58C26.1 11.58 28.14 11.85 30.06 12.39C34.65 9.27 36.66 9.93 36.66 9.93C37.98 13.23 37.14 15.69 36.9 16.29C38.43 17.97 39.36 20.1 39.36 22.74C39.36 31.95 33.75 33.99 28.41 34.59C29.28 35.34 30.03 36.78 30.03 39.03C30.03 42.24 30 44.82 30 45.63C30 46.26 30.45 47.01 31.65 46.77C36.4144 45.1614 40.5544 42.0994 43.4873 38.0147C46.4203 33.9301 47.9986 29.0286 48 24C48 10.74 37.26 0 24 0Z'/></svg>");
}
